<h1><%= @classified.title %> - <%= number_to_currency @classified.price %></h1>
<img src='<%= @classified.image.url %>'>
<div>
  <%= @classified.description %>
</div>
<%= link_to @classified.category.name, @classified.category %>
